<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Document</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <header class='container'>
    <div class='top-pics'>
      <img class='img-responsive' src="images/mad-lib-happy-face.png" alt="" />
      <img class='img-responsive' src="images/ng-mad-libs-logo.png" alt="">
    </div>
  </header>

  <section class="container" id="input-words">
    <section>
      <h1>Provide the following words:</h1>
    </section>
    <div class ='row'>
      <input class='col-xs-4' type="text" ng-model="femalename" ng-init='femalename=""' placeholder="female name">
      <input class='col-xs-4' type="text" ng-model="jobtitle" ng-init="jobtitle=''"placeholder="job title">
      <input class='col-xs-4' type="text" ng-model="tedioustask" ng-init="tedioustask=''" placeholder="tedious task">
      <input class='col-xs-4' type="text" ng-model="dirtytask" ng-init="dirtytask=''" placeholder="dirty task">
      <input class='col-xs-4' type="text" ng-model="celebrity" ng-init="celebrity=''" placeholder="celebrity">
      <input class='col-xs-4' type="text" ng-model="uselessskill" ng-init="uselessskill=''" placeholder="useless skill">
      <input class='col-xs-4' type="text" ng-model="obnoxious" ng-init="obnoxious=''" placeholder="obnoxious celebrity">
      <input class='col-xs-4' type="text" ng-model="hugenumber" ng-init="hugenumber=''" placeholder="huge number">
      <input class='col-xs-4' type="text" ng-model="adjective" ng-init="adjective" placeholder="adjective">
  </div>
  </section>
  <section class="container">
    <p>
      <strong>{{ femalename }}</strong> was a <strong>{{jobtitle}}</strong> who loved technology. Although she loved parts of her job, she absolutely hated  <strong>{{tedioustask}}</strong> and <strong>{{dirtytask}}</strong>. So, <strong>{{femalename}}</strong> met with her life mentor <strong>{{celebrity}}</strong> who told her to learn how to <strong>{{uselessskill}}</strong> with Thinkful. Thinkful didn't offer a course on how to <strong>{{uselessskill}}</strong> so she studied programming instead.
    </p>
    <p>
     What a great decision! With her new skills, <strong>{{femalename}}</strong> built a(n) <strong>{{adjective}}</strong> robot named <strong>{{obnoxious}}</strong> that not only loved <strong>{{dirtytask}} </strong>but did it <strong>{{hugenumber}}</strong> faster.
    </p>

  </section>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js" type="text/javascript"></script>

</body>
</html>
